




<table class="table table-info">
  <thead>
  <tr>
    <th>réference</th>
    <th>title</th>
    <th>description</th>
    <th>url</th>
    <th>public</th>
    <th>nbr shared</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of list, let i= index">
    <td>{{book.id}}</td>
    <td>{{book.title}}</td>
    <td>{{book.description}}</td>
    <td>{{book.url}}</td>
    <td>{{book.nbrShared}}</td>


    <td>
      <button class="btn btn-sm btn-warning"  (click)="delete(book.id, i)">
        delete video </button>
    </td>
  </tr>
  </tbody>
</table>

